<!DOCTYPE html>
<html>
  <head>
    <title>AAAIR-BNB</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>AAAIR-BNB</h1>
    <p>Welcome to 'AAAIR Bnb - Luxurious and lascivious rooms for unforgettable nights</p>

    <div class="jumbotron">
        <h4> Would you like to have a peep at our love nests?</h4>
                <form action = '/rooms' >
                <input type='submit' value = "Let the experience begin">
                </form>
    </div>


  </body>
</html>
