<!DOCTYPE html>
<html>
  <head>
    <title>AAAIR-BNB</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>AAAIR-BNB</h1>
    <p>Welcome to 'AAAIR Bnb - Luxurious and lascivious rooms for unforgettable nights</p>

    <div class="jumbotron">
        <h4> Would you like to have a peep at our love nests?</h4>
                <form action = '/rooms' >
                <input type='submit' value = "Let the experience begin">
                </form>
    </div>

    <div>
      <ul id=ol>
        <%var counter=0%>
          <% propAll.reverse().forEach(function (room) { %>
            <li id="<%counter%>">
              <%= room.title %><br>
                <%= room.description %><br> £
                  <%=room.price%> per night
                    <%counter +=1 %>
            </li><br>
            <% }) %>
      </ul>
    </div>


  </body>
</html>
